html body {
  padding: 0;
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #c5c5c5;
}

.top__banner {
  text-align: center;
  background: darkblue;
  color: white;
  padding: 1px;
}

header {
  text-align: center;
  background: linear-gradient(90deg, rgb(152, 193, 221), rgb(1, 31, 68));
  padding: 10px 0px 20px;
  color: lightgray;
}

.top__nav a {
  text-decoration: none;
  color: black;
}

.top__nav a:hover {
  color: white;
}

.top__nav {
  display: flex;
  gap: 30px;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  color: lightgray;
}

.call__btn {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: #ce8525;
  text-decoration: none;
}

.call__btn :hover {
  color: rgb(68, 68, 161);
}

.mission__hero {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-image: url(/images/torn\ paper\ border_8706260.png);
  text-align: center;
}

.mission__doctors {
  max-width: 100%;
}

.mission {
  text-align: center;
  margin: auto;
  padding: 15px;
  width: 450px;
  font-size: 20px;
  font-weight: bold;
  font-family: none;
}

.info__link {
  display: flex;
  align-items: center;
  gap: 15px;
  border: solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  width: 175px;
}

.info__container-links {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
}

@media (max-width: 480px) {
  .info__container-links {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 20px;
  }
}

.map {
  display: flex;
  justify-content: center;
  background-image: url(/images/earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  filter: drop-shadow(0px 0px 10px black);
}

.map__cords {
  filter: drop-shadow(0px 0px 10px black);
}

.footer__items {
  background: rgb(121, 121, 121);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  padding-left: 10pc;
}

@media (max-width: 480px) {
  .footer__items {
    background: rgb(121, 121, 121);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding-left: 0px;
  }
}

.copr {
  background: rgb(41, 40, 40);
  height: 35px;
  text-align: center;
  padding-top: 25px;
  color: white;
  margin: auto;
}
