html {
  padding: 0;
  margin: 0;
  background-image: url(/images/torn\ paper\ border_8706260.png);
}

.manifesto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  text-align: center;
  padding-left: 36pc;
}

.return {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

@media (max-width: 480px) {
  html {
    background-image: url(/images/torn\ paper\ border_8706260.png);
    background-size: cover;
  }

  .manifesto {
    max-width: 100%;
    padding: 0;
  }

  .return {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
