html body {
  padding: 0;
  margin: 0;
}

header {
  background: maroon;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  padding-right: 65pc;
}

.bio {
  text-align: center;
  width: 600px;
  padding-left: 55pc;
}
