html body {
  padding: 0;
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #c5c5c5;
}

.top__banner {
  text-align: center;
  background: darkblue;
  color: white;
  padding: 1px;
}

header {
  text-align: center;
  background: linear-gradient(90deg, rgb(152, 193, 221), rgb(1, 31, 68));
  padding: 10px 0px 20px;
  color: lightgray;
}

.top__nav a {
  text-decoration: none;
  color: black;
}

.top__nav a:hover {
  color: white;
}

.top__nav {
  display: flex;
  gap: 30px;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  color: lightgray;
}

.call__btn {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: #ce8525;
  text-decoration: none;
}

.call__btn :hover {
  color: rgb(68, 68, 161);
}

.mission {
  text-align: center;
  margin: auto;
  padding: 15px;
  padding-bottom: 50px;
  width: 450px;
  font-size: 20px;
  font-weight: bold;
  font-family: none;
}

@media (max-width: 480px) {
  .mission {
    text-align: center;
    margin: auto;
    padding: 15px;
    padding-bottom: 30px;
    max-width: 60%;
    font-size: 20px;
    font-weight: bold;
    font-family: none;
  }
}

.dr__jj {
  background: darkblue;
  padding: 0;
  padding-left: 50pc;
  padding-top: 50px;
  padding-bottom: 50px;
  filter: drop-shadow(10px 0px 10px);
}

@media (max-width: 480px) {
  .dr__jj {
    padding-left: 22px;
    margin: auto;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 100%;
  background-image: url(/images/torn\ paper\ border_8706260.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.bio__1 {
  width: 600px;
  padding-left: 45pc;
  padding: 0px;
  padding-top: 20px;
  margin: auto;
}

.bio__2 {
  width: 500px;
  text-align: center;
  padding-left: 45pc;
  padding: 0px;
  padding-top: 20px;
  margin: auto;
}

@media (max-width: 480px) {
  .bio__1 {
    width: 300px;
    padding-left: 45pc;
    padding: 0px;
    padding-top: 20px;
    margin: auto;
  }

  .bio__2 {
    width: 300px;
    text-align: center;
    padding-left: 45pc;
    padding: 0px;
    padding-top: 20px;
    margin: auto;
  }
}

.footer__items {
  background: rgb(121, 121, 121);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  padding-left: 10pc;
}

@media (max-width: 480px) {
  .footer__items {
    background: rgb(121, 121, 121);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding-left: 0px;
  }
}

.copr {
  background: rgb(41, 40, 40);
  height: 35px;
  text-align: center;
  padding-top: 25px;
  color: white;
  margin: auto;
}
