html body {
  padding: 0;
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #ffffff;
}

.top__banner {
  text-align: center;
  background: darkblue;
  color: white;
  padding: 1px;
}

header {
  text-align: center;
  background: linear-gradient(90deg, rgb(152, 193, 221), rgb(1, 31, 68));
  padding: 10px 0px 20px;
  color: lightgray;
}

.top__nav a {
  text-decoration: none;
  color: black;
}

.top__nav a:hover {
  color: white;
}

.top__nav {
  display: flex;
  gap: 30px;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  color: lightgray;
}

.call__btn {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: #ce8525;
  text-decoration: none;
}

.call__btn :hover {
  color: rgb(68, 68, 161);
}

.contact_us {
  text-align: center;
}

.message__box-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  padding: 20px;
  gap: 10px;
  margin: auto;
  filter: drop-shadow(0px 0px 5px black);
}

@media (max-width: 480px) {
  .message__box-items {
    width: 80%;
  }
}

.message__box-main {
  border: solid 1px;
  border-radius: 5px;
  background-color: #a0a0a0;
}

.app__box-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  padding: 20px;
  gap: 10px;
  margin: auto;
  filter: drop-shadow(0px 0px 5px black);
}

@media (max-width: 480px) {
  .app__box-items {
    max-width: 80%;
  }
}

.name,
.email,
.subject {
  height: 25px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #a0a0a0;
}

.btn__submit {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.footer__items {
  background: rgb(121, 121, 121);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  padding-left: 10pc;
}

@media (max-width: 480px) {
  .footer__items {
    background: rgb(121, 121, 121);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding-left: 0px;
  }
}

.copr {
  background: rgb(41, 40, 40);
  text-align: center;
  padding: 20px 0px 20px;
  color: white;
  margin: auto;
}
